spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/LOS_db
    username: hariram
    password: catchmeifyoucan12#$
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
